body {
  border: 4px solid;
  line-height: 1.4;
  font-family: sans-serif;
  color: #444444;
}

.product-title {
  background-color: #d3b6f0;
}

.price {
  font-weight: bold;
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.detail-title {
  text-transform: uppercase;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

.detail-list {
  list-style: square;
}

.add-cart {
  font-size: 22px;
  font-weight: lighter;
  color: white;
  cursor: pointer;
  text-transform: uppercase;

  background-color: black;
  border: none;
}
.add-cart:hover {
  color: #000;
  background-color: #fff;
}
